#principal{
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);;
   
    background-size:100%;
}

header{
    display: flex;
    height: 70px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(236,170,27,1) 19%);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .logo{
        display:flex;
        justify-content: center;
        align-items: center;
        img{
            height: 50px;
            margin-right: 10px;
        }
        .marca{
            font-family: 'Anton', sans-serif;
            font-style: oblique;
            font-size: 40px;
            font-weight: 100;
        }
    }
    .nav_label, .nav_input{
        display: none;
    }
    .nav_menu{
        display: grid;
        grid-auto-flow: column;
         gap: 3em;
        .menu_item{
            text-decoration: none;
            color: black;
            font-weight: bolder;
            &:hover{
                color: chocolate;
            }
        }
    }
}

.youtube-wrapper{
    margin-top: 50px;
    margin-left: 300px;
    height: 100%;
    width: 50%;
    .video{
        border: 2px solid black;
        height: 0%;
        padding-bottom: 50%;
        margin: auto;
        position: relative;
       iframe{
        position: absolute;
        top: 0;
        left: 0;    
        height: 100%;
        width: 100%;
       }
    }
}

.parrafo{
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;
    .divPadre{
        display: flex;
        flex-direction: column;
        justify-content:center;
        justify-items: center;
        margin: auto;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
        .sobrenosotros{
            .lorem{
                font-family: 'Bebas Neue', cursive;
                font-size: 50px;
                
                
            }
            img{
                height: 100px;
            }
    }
   
    }
    .div_parrafo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-style: solid;
        margin-right: 150px;
        margin-left: 100px;
    }
}

footer{
    display:flex;
    background-color:#EFD345;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    .contactos{
        font-weight: 600;
        padding: 10px;
        text-decoration: none;
        &:hover{
            color: rgb(235, 11, 11);
        }
    }
    .pagina{
        font-weight: 600;
        padding: 10px;
        text-decoration: none;
        &:hover{
            color: rgb(235, 17, 17);
        }
    }
}